* {
    color: black;
    font-family: 'Buenard', serif;
}

a{
    color:green;
}
    a:hover {
        color: #2BA81A
    }

html {
    min-height: 100%;
}

option{
    color:#222222;
}

body > .container {
    background-color: whitesmoke;
    min-height: 100%;
    margin: 0 auto;
    min-height: 92vh;
}

.locales {
    background-color: whitesmoke;
    border-radius: 6px;
    padding:2em;
    margin:1em 0 1em 0;
}

hr {
    border-top: 1px dashed green;
}

tr > th{
    background-color: #5cb85c;
}
table td, table  {
    border: 1px groove black!important;
}

tr:nth-child(odd) {
    background-color: #BEFFC0;
}

tr:nth-child(even) {
    background-color: #E9E9E9;
}

tr:first-child th:first-child {
    border-top-left-radius: 10px;

}


    tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
        border-left:0;
    }

tr td:first-child {
    border-left: 0!important;
}

tr td:last-child {
    border-right: 0 !important;
}




    th, td, table{
        border:0!important;
    }

th, td {
    border-bottom: 2px groove #4cae4c!important;
}

tr:last-child td {
    border-bottom: 0px!important;
}

    td>form{
        float:left;
        display:inline
    }
body {
    min-height: 100vh;
    padding-bottom: 0!important;
    background-image: url('Images/parallax.jpg');
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: #cccccc
}

h1 {
    font-family: 'Atma', cursive;
}
h2 {
    text-align: center;
}

h2+p {
    text-align: center;
}

td {
    vertical-align:middle!important;
}

.form-css {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.card {
    background-color: #555;
    margin: 0 1em 1em 1em;
    border: 5px ridge #2BA81A;
    border-radius: 10px;
    padding: 1em;
}

.card:hover {
    box-shadow: 3px 3px 3px green;
    text-decoration:none
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo img{
    margin-right:1em;
}

@media (max-width: 768px) {
    .titulo span {
        display:none
    }

}

footer{
    background-color:whitesmoke;
    padding:2em;
}